@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    font-family: Roboto, sans-serif;
}
.container {
    margin: auto;
    width: 600px;
}
.header,
.container.hero,
.footer,
.super-cta {
    margin: auto;
    width: 800px;
}
.container {
    box-sizing: border-box;
}
button {
    padding: 6px 24px;
    border-radius: 6px;
    font-weight: bold;
    color: white;
}


/* COLORS */
.links a,
.hero p {
    color: #E5E7EB;
}
.hero-header,
footer {
    background-color: #1F2937;
    color: #F9FAF8;
}
.hero-left button {
    background-color: #3882F6;
    border: 1px solid #3882F6;
}
.calltoaction button {
    background-color: transparent;
    border: 2px solid white;
}
.super-quote {
    background-color: #E5E7EB;
    color: #1F2937;
}
.super-cta {
    background-color: #3882F6;
}
/* COLORS END */

/* HEADER AND HERO */
.container.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 80px auto;
}
.hero h1 {
    font-size: 48px;
    font-weight: 900;
    margin: 0;
}
.hero p {
    margin: 4px 0 18px;
    font-size: 18px;
}
.hero-left, 
.hero-right {
    flex: 1;
}
.hero-right {
    display: flex;
    align-items: center;
}
.hero-right img {
    width: 100%;
    height: auto;
}
.header {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 24px;
}
.header-logo {
    margin: 0;
    font-weight: 900;
}
.links {
    display: flex;
    gap: 20px;
    font-size: 18px;
    
}
.links a {
    text-decoration: none;
}

/* HEADER AND HERO */

/* CONTAINER INFO */

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 32px;
    font-size: 24px;
    font-weight: 900;
}
.info-box {
    display: flex;
    justify-content: space-evenly;
    gap: 38px;
}
.card {
    width: 120px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card img {
    width: 118px;
    height: 118px;
    border: 3px solid #3882F6;
    border-radius: 12px;
    object-fit: cover;
}
.card p {
    font-size: 12px;
    color: grey;
    text-align: center;
    font-weight: lighter;
}

/* CONTAINER INFO */

/* CONTAINER QUOTE */

.quote {
    padding: 80px 0;
    display: flex;
    flex-direction: column;
}
.quote p {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    margin: auto;
}
.quote h4 {
    align-self: flex-end;
    margin: 0;
}

/* CONTAINER QUOTE */

/* CTA */
    .super-cta {
        margin: 100px auto;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 12px;
    }
    .calltoaction {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .calltoaction .text {
        color: white;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin: 48px 0;
    }
    .text h1,
    .text p {
        margin: 0;
    }
/* CTA */

/* FOOTER */

    .footer {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        height: 50px;
    }

/* FOOTER */